@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@using static NLPHelpDesk.Helpers.Constants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[VIEW_DATA_TITLE] - NLP Help Desk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NLPHelpDesk.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<div class="layout-container">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-theme border-bottom shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">NLP Help Desk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="d-flex justify-content-between w-100">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="@Url.Action("Index", "Tickets")">Tickets</a>
                                </li>
                                @if (User.IsInRole(ROLE_TECHNICIAN))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="@Url.Action("Index", "Products")">Products</a>
                                    </li>
                                }
                            </ul>
                            <div class="d-flex align-items-center">
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </header>

    <main class="main-content container-fluid d-flex flex-column" role="main">
        @RenderBody()
    </main>
    
    <footer class="footer p-0">
        <div class="container">
            &copy; @DateTime.Now.Year NLP Help Desk. All rights reserved.
        </div>
    </footer>
    
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>